
// colors
$black: #151515;
$green:#4EE1A0;
$grey: #242424;
$light-grey: #D9D9D9;
$white: #FFFFFF;
$red: #FF6F5B;

// fonts
$primary-font: 'Space Grotesk', sans-serif;

// responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



