@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn-primary {
  @include m.button();
    border-bottom: 2px solid v.$green;
  @include m.breakpoint(desktop) {
    position: relative;
    padding-bottom: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    overflow: hidden;

    border-bottom: none;

    // subrayado izquierdo
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: v.$green;
      width: 0;
    }

    // subrayado derecho
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      background-color: v.$green;
      width: 100%;
    }

    &:hover::before {
      animation: leftLineLoop 2s linear infinite;
    }

    &:hover::after {
      animation: rightLineLoop 2s linear infinite;
    }
  

    @keyframes leftLineLoop {
      0%   { width: 0%; }
      5%   { width: 0%; }
      10%  { width: 5%; }
      20%  { width: 15%; }
      35%  { width: 30%; }
      50%  { width: 45%; }
      65%  { width: 60%; }
      80%  { width: 75%; }
      90%  { width: 85%; }
      95%  { width: 90%; }
      100% { width: 100%; }
    }

    @keyframes rightLineLoop {
      0%   { width: 100%; }
      5%   { width: 90%; }
      10%  { width: 85%; }
      20%  { width: 75%; }
      35%  { width: 60%; }
      50%  { width: 45%; }
      65%  { width: 30%; }
      80%  { width: 15%; }
      90%  { width: 5%; }
      95%  { width: 0%; }
      100% { width: 0%; }
    }
  }
}

.btn-secundary {
  @include m.button();
  color: v.$light-grey;
  $font-size: 18px;
  $line-height: 28px;
}


