
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.projects {
    margin: 80px 0px;
    position: relative;
    
    @include m.breakpoint(tablet) {
        margin: 100px 0px;
    }
    @include m.breakpoint(desktop) {
        margin: 140px 0px;
    }

    &::before {
        content: '';
        position: absolute;
        top: -140px;
        right: 0px;
        width: 198px;
        height: 129px;
        background: url('/img/ellipses-background-left-small.png') no-repeat center / contain;
        pointer-events: none;
        z-index: 2;

        @include m.breakpoint(desktop) {
            width: 291px;
            background: url('/img/ellipses-background-left.png') no-repeat center / contain;
            z-index: 3;
        }
    }

    .title {
        display: flex;
        justify-content: space-between; // flex-start(por defecto) | flex-end | center | space-between | space-around | space-evenly
        align-items: center; // stretch(por defecto) | flex-start | flex-end | center | baseline

        h2 {
            font-weight: 700; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -2.5px;

            @include m.breakpoint(tablet) {
                font-size: 72px;
                line-height: 72px;
            }
            @include m.breakpoint(desktop) {
                font-size: 88px;
                line-height: 88px;
            }
        }
    }

    &__grid {
        margin: 40px 0px;
        display: grid;
        grid-template-columns: 1fr; // 200px 1fr 2fr auto 30%
        gap: 40px;

        @include m.breakpoint(tablet) {
            margin: 60px 0px;
            grid-template-columns: 1fr 1fr; // 200px 1fr 2fr auto 30%
            gap: 60px 24px;
        }
        @include m.breakpoint(desktop) {
            margin: 80px 0px;
            gap: 69px 30px;
        }

        .project {
            @include m.breakpoint(desktop) {
                position: relative;
            }

            img {
                @include m.breakpoint(desktop) {
                    transition: filter 0.3s ease;
                }
            }

            .project__links {
                @include m.breakpoint(desktop) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 400px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;

                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.3s ease;
                }
            }

            @include m.breakpoint(desktop) {
                &:hover img {
                    filter: grayscale(100%) brightness(35%) contrast(110%);
                }

                &:hover .project__links {
                    opacity: 1;
                    pointer-events: auto;
                    .btn-primary {
                        background-color: transparent;
                    }
                }
            }

            h3 {
                margin-top: 20px;
                font-weight: 700; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
                font-size: 24px;
                line-height: 32px;
            }

            .btn-secundary {
                margin-right: 18px;
            }

            .btn-primary {
                margin-right: 30px;
            }
        }
    }
}